<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Lista de Productos</h1>
        <a href="/new" class="btn btn-primary mb-3">Crear Nuevo Producto</a>
        <ul class="list-group">
            {{#each products}}
                <li class="list-group-item">{{this.name}} - <a href="/edit/{{this._id}}">Editar</a>
                <form action="/edit/remove/{{this._id}}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                </form>
                </li>
            {{/each}}
        </ul>
    </div>
</body>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('deleted') && urlParams.get('deleted') === 'true') {
            Swal.fire({
                title: '¡Producto eliminado!',
                text: 'El producto ha sido eliminado exitosamente.',
                icon: 'success',
                confirmButtonText: 'OK'
            });

            window.history.replaceState({}, document.title, window.location.pathname);
        }
    </script>
</html>
